
<footer class="footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 social text-md-right">
                <p>Looking for a driven, enthusiastic and go-getting designer?</p>
            </div>
        </div>
        <div class="col-sm-8 social text-md-right">
            <p>Say hi at nataliesohc@gmail.com !</p>
        </div>
        <div class="col-sm-7 social text-md-right">
            <a href="https://www.linkedin.com/in/natalie-so-30a3aa1b0/"><span class="icofont-linkedin"></span></a>
            <a href="https://www.youtube.com/channel/UCjZX2IbLn_xdtv8MFrF317Q"><span class="icofont-youtube"></span></a>
        </div>
    </div>
</footer>