<div class="collapse navbar-collapse custom-navmenu" id="main-navbar">
    <div class="container py-2 py-md-5">
        <div class="row align-items-start">
            <div class="col-md-2">
                <ul class="custom-menu">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="about.html">About Me</a></li>
                    <li><a href="Natalie+So+Resume.pdf" target="_blank">Resume</a></li><br>
                    <a href="https://www.linkedin.com/in/natalie-so-30a3aa1b0/"><span
                            class="icofont-linkedin text-white"></span></a>
                    <a href="https://www.youtube.com/channel/UCjZX2IbLn_xdtv8MFrF317Q"><span
                            class="icofont-youtube text-white"></span></a>
                </ul>
            </div>
        </div>

    </div>
</div>

<nav class="navbar navbar-light custom-navbar">
    <div class="container">
        <a href="index.html"> <img src="img/favicon.png" width="80" height="80" style="float:left"> </a>

        <a href="#" class="burger" data-toggle="collapse" data-target="#main-navbar">
            <span></span>
        </a>

    </div>
</nav>
