---
layout: default
---

<div class="container">
    <div class="row mb-4 align-items-center">
        <div class="col-md-8" data-aos="fade-up">
            <h1>{{ page.title }}</h1>
            <p>{{ page.subtext | markdownify }}</p>
        </div>
    </div>
</div>


<div class="site-section pb-0">
    <div class="container">
        <div class="row align-items-stretch">
            <div class="col-md-8" style=padding-bottom:10px data-aos="fade-up">
                {% if page.image != Nil %}
                <img src="img/{{ page.image }}" alt="Image" class="img-fluid">
                {% endif %}

                {% if page.video != Nil %}
                <video src="vid/{{ page.video}}" width="640" height="360" controls></video>
                {% endif %}
            </div>

            <div class="col-md-4 ml-auto" style=padding-left:30px data-aos="fade-up" data-aos-delay="100">
                <div class="sticky-content"></div>

                <br>
                {% if page.role != Nil %}
                <h3 class="h3">Role: </h3>
                <p class="mb-4"> {{ page.role }}</p>
                {% endif %}

                {% if page.product != Nil %}
                <h3 class="h3">Product brief: </h3>
                <p class="mb-4"> {{ page.product }}</p>
                {% endif %}

                {% if page.timeframe != Nil %}
                <h3 class="h3">Time Frame: </h3>
                <p class="mb-4"> {{ page.timeframe }}</p>
                {% endif %}

                {% if page.timeline != Nil %}
                <h3 class="h3">Timeline: </h3>
                <p class="mb-4"> {{ page.timeline }}</p>
                {% endif %}

                {% assign deliverables = page.deliverables | split: ", " %}
                {% if page.deliverables != Nil %}
                <h3 class="h3">Deliverables: </h3>
                <ul>
                    {% for deliverable in deliverables %}
                    <li>{{ deliverable }}</li>
                    {% endfor %}
                </ul>
                {% endif %}


                {% assign tools = page.tools | split: ", " %}
                {% if tools.size ==1 %}
                <h3 class="h3">Tool Used: </h3>
                <p>{{ page.tools }}</p>
                {% else %}
                <h3 class="h3">Tools Used: </h3>
                <ul>
                    {% for tool in tools %}
                    <li>{{ tool }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                </ul>
            </div>
        </div>

    </div>

</div>


<div class="site-section pb-0" data-aos="fade-up">
    <div class="container content">
        {{ content }}
    </div>
</div>